@import '../../msi-styles/theme.scss';

.test-component {
  background-color: $primary-050;
  border: 1px solid $primary-dark;
  color: $primary;
  padding: 16px;
  width: 360px;
  text-align: center;
  
  .heading {
      font-size: 64px;
  }

  &.test-component-secondary {
      background-color: $secondary-050;
      border-color: $secondary-dark;
      color: $secondary-dark;
  }
}