@import '../../msi-styles/theme.scss';

.button {
  @extend %button-fonts;
  width: max-content;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 4px;
  color: $on-primary-high-emphasys;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

}

.primary {
  background: $primary;
}

.secondary {
  background: $secondary;
}

.success {
  background: $success;
}

.outlined {
  border: 1px solid $on-surface-disabled;

  color: $on-surface-medium-emphasys;

  &:hover {
    background-color: $on-surface-disabled;
  }

}

.warning {
  background: $warning;
}

.info {
  background: $info;
}

.danger {
  background: $danger;
}